header{
	background-color: #E6E6FA;
}
h1{
   color: #9370DB;
   text-transform: uppercase;
   text-align: center;
   font-style: italic;
   font-family: sans-serif;
}
h2{
	color: #000080;
	text-transform: uppercase;
	font-style: oblique;
}
section{
	background-color: #FF7F50;
}
a{
	background-color: #4B0082;
	color: #FFFAFA;
	font-size: x-large;
}
aside{
	display: none;
}